 
.contactbox {
  margin-top: 50px;
  padding: 10px;
  width: 350px;
  height: 220px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   }

.lineheight{
    
 line-height: 27px;    
    
}
